html {
  font-size: 14px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif, "Courier New", Courier, monospace;
  background-color: whitesmoke;
}

:root {
  --button-font: 1.2em;
  --button-dimensions: calc(var(--button-font) * 1.4);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: gray;
  padding: 20px;
  /* border-radius: 10px; */
}

#allButtons {
  display: flex;
  justify-content: center;
  background-color: black;
}

#edit {
  display: flex;
  justify-content: center;
  background-color: black;
}

#display {
  display: flex;
  border: 1px solid black;
  height: 4em;
  /* border-radius: 10px; */
  background-color: white;
  margin-bottom: 10px;
  justify-content: flex-end;
  align-items: center;
}

#numberBtn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-area: numbers;
}

#operatorBtn {
  display: flex;
  flex-direction: column;
}

.buttons,
.editBtn,
.operator {
  background-color: white;
  border: 1px solid gray;
  /* border-radius: 5px; */
  font-size: var(--button-font);
  width: var(--button-dimensions);
  padding: 1.5em;
  text-align: center;
  margin: 4px;
}

.buttons:hover {
  background-color: whitesmoke;
}
